<template>
  <section class="main-slider w-100 bg-cl-th-accent cl-white">
    <no-ssr>
      <carousel
        :per-page="1"
        pagination-active-color="#36B289"
        pagination-color="#595959"
        :pagination-size=12
        :pagination-padding=4
      >
        <slide v-for="(slide, index) in bannerData" :key="index">
          <div class="main-slide">
            <img :src="slide.image" :alt="slide.title" class="object-cover hidden visible-md" >
            <img :src="slide.mobile_image" :alt="slide.title" class="object-cover hidden-md" >
            <div class="main-slide-caption hidden visible-md">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6">
                    <div class="caption-wrap">
                      <p
                        class="subtitle"
                        data-testid="mainSliderSubtitle"
                        v-html="slide.description"
                      />
                      <h2 class="title" data-testid="mainSliderTitle" v-html="slide.title" />
                      <div class="slide-btn">
                        <button-outline :link="slide.link" color="light">
                          {{ $t('SHOP NOW') }}
                        </button-outline>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </slide>
      </carousel>
    </no-ssr>
  </section>
</template>

<script>
import NoSSR from 'vue-no-ssr'
import sliderData from 'theme/resource/slider.json'
import ButtonOutline from 'theme/components/theme/ButtonOutline'

export default {
  props: {
    bannerData: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      currentSlide: 1,
      slides: [],
      totalSlides: 1
    }
  },
  components: {
    ButtonOutline,
    'Carousel': () => import('vue-carousel').then(Slider => Slider.Carousel),
    'Slide': () => import('vue-carousel').then(Slider => Slider.Slide),
    'no-ssr': NoSSR
  },
  methods: {
    updateSliderData (data) {
      this.slides = data.slides
      this.totalSlides = data.total
    }
  },
  mounted () {
    setInterval(() => {
      this.currentSlide = (this.currentSlide + 1) % (this.totalSlides)
    }, 5000)
  },
  created () {
    this.updateSliderData(sliderData)
  }
}
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-white: color(white);
$gray-595959: color(gray-595959);
$color-secondary: color(secondary);
$gray-FCFCFC: color(gray-FCFCFC);

.main-slider {
  .VueCarousel-pagination {
    position: absolute;
    bottom: 40px;

    @media (max-width: 991px) {
      bottom: 20px;
    }

    .VueCarousel-dot {
      border-radius: 0;

      @media (max-width: 767px) {
        background-color: $color-white !important;

        &--active {
          background-color: $color-secondary !important;
        }
      }

      &:focus {
        outline: 0 none;
      }
    }
  }

  .main-slide {
    position: relative;
    line-height: 0;
  }

  .main-slide-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
  }

  .caption-wrap {
    line-height: 1;
    text-align: left;
    max-width: 413px;
    margin: 0 auto;

    .subtitle {
      font-size: 16px;
      color: $gray-595959;
      margin-bottom: 10px;

      @media (max-width: 991px) {
        font-size: 14px;
      }
    }

    .title {
      font-size: 56px;
      margin-bottom: 80px;

      @media (max-width: 1199px) {
        font-size: 46px;
        margin-bottom: 40px;
      }

      @media (max-width: 991px) {
        font-size: 36px;
        margin-bottom: 30px;
      }

      span {
        color: $color-secondary;
      }
    }

    .button-outline {
      font-family: 'Teko';
      font-weight: 400;
      font-size: 24px;
      border-color: $gray-FCFCFC;
      color: $gray-FCFCFC;
      padding: 10px 16px 8px;
      display: inline-block;
      line-height: 1;
      height: auto;
      text-align: center;
      min-width: 189px;

      @media (max-width: 991px) {
        font-size: 18px;
        min-width: 149px;
      }

      &:hover {
        color: $color-secondary;
      }
    }
  }
}
</style>
