<template>
  <div
    class="microcart cl-accent relative"
    :class="[productsInCart.length ? 'bg-cl-white' : 'bg-cl-white']"
    data-testid="microcart"
  >
    <transition name="fade">
      <div v-if="isEditMode" class="overlay" @click="closeEditMode" />
    </transition>
    <div class="row bg- px40 actions">
      <div class="col-xs end-xs">
        <button
          type="button"
          class="p0 brdr-none bg-cl-transparent close"
          @click="closeMicrocartExtend"
          data-testid="closeMicrocart"
        >
          <i class="material-icons py20 cl-accent">
            close
          </i>
        </button>
      </div>
    </div>
    <div class="row middle-xs top-sm px40 actions">
      <div class="col-xs-7 col-sm">
        <h2
          v-if="productsInCart.length"
          class="cl-accent mb10 cart-title"
        >
          {{ $t('Shopping cart') }}
        </h2>
      </div>
      <div class="col-xs-5 col-sm mb10 end-sm clearcart-col">
        <clear-cart-button
          v-if="productsInCart.length"
          @click.native="clearCart"
        />
      </div>
    </div>

    <h4 v-if="!productsInCart.length" class="cl-accent ml30">
      {{ $t('Your shopping cart is empty.') }}
    </h4>
    <div v-if="!productsInCart.length" class="ml30" @click="closeMicrocartExtend">
      {{ $t("Don't hesitate and") }}
      <router-link :to="localizedRoute('/')">
        {{ $t('browse our catalog') }}
      </router-link>
      {{ $t('to find something beautiful for You!') }}
    </div>
    <ul v-if="productsInCart.length" class="m0 px40 products">
      <product v-for="product in productsInCart" :key="product.server_item_id || product.id" :product="product" />
    </ul>
    <div v-if="productsInCart.length" class="summary px40 cl-accent serif">
      <!-- <h3 class="m0 pt40 mb30 weight-400 summary-heading">
        {{ $t('Shopping summary') }}
      </h3> -->
      <hr>
      <div v-for="(segment, index) in totals" :key="index" class="row pt20" v-if="segment.code !== 'grand_total'">
        <div class="col-xs">
          {{ segment.title }}
          <button v-if="appliedCoupon && segment.code === 'discount'" type="button" class="p0 brdr-none bg-cl-transparent close delete-button ml10" @click="clearCoupon">
            <i class="material-icons cl-accent">
              close
            </i>
          </button>
        </div>
        <div v-if="segment.value != null" class="col-xs align-right">
          {{ segment.value | price(storeView) }}
        </div>
      </div>
      <div class="row pt20 pb20">
        <div v-if="OnlineOnly && !addCouponPressed" class="col-xs-12">
          <button
            class="p0 brdr-none serif fs-medium-small cl-accent bg-cl-transparent add-discount"
            type="button"
            @click="addDiscountCoupon"
          >
            {{ $t('Add a discount code') }}
          </button>
          <span class="pull-right weight-700 ">{{ $t('N/A') }}</span>
        </div>
        <div v-if="OnlineOnly && addCouponPressed" class="col-xs-12 coupon-wrapper">
          <div class="coupon-input">
            <label class="h6 cl-secondary">{{ $t('Discount code') }}</label>
            <base-input type="text" id="couponinput" :autofocus="true" v-model.trim="couponCode" @keyup.enter="setCoupon" />
          </div>
          <button-outline color="dark" :disabled="!couponCode" @click.native="setCoupon">
            {{ $t('Add discount code') }}
          </button-outline>
        </div>
      </div>

      <div class="row pt20 grand-total pb20 weight-700 middle-xs" v-for="(segment, index) in totals" :key="index" v-if="segment.code === 'grand_total'">
        <div class="col-xs total-price-label">
          {{ segment.title }}
        </div>
        <div class="col-xs align-right total-price-value">
          {{ segment.value | price(storeView) }}
        </div>
      </div>
    </div>

    <div
      class="row py20 px40 middle-xs actions"
      v-if="productsInCart.length && !isCheckoutMode"
    >
      <div class="col-xs-7 col-sm-6 first-sm">
        <router-link :to="localizedRoute('/')" class="no-underline cl-black return-shopping link">
          <span @click="closeMicrocartExtend">
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15 8.5H1" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M8 15.5L1 8.5L8 1.5" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            {{ $t('Return to shopping') }}
          </span>
        </router-link>
      </div>
      <div class="col-xs-5 first-xs col-sm-6 end-sm checkout-button">
        <button-full
          :link="{ name: 'checkout' }"
          @click.native="closeMicrocartExtend"
        >
          {{ $t('Go to checkout') }}
        </button-full>
        <instant-checkout v-if="isInstantCheckoutRegistered" class="no-outline button-full block brdr-none w-100 px10 py20 bg-cl-mine-shaft :bg-cl-th-secondary ripple weight-400 h4 cl-white sans-serif fs-medium mt20" />
      </div>
    </div>
    <div class="row px40 cart-payments">
      <div class="col-xs-12 col-sm-3 secure">
        <p><img src="/assets/secure.svg" alt="">{{ $t('100% Secure & Guaranteed Payments') }}</p>
      </div>
      <div class="col-xs-12 col-sm-9 cards align-right">
        <div class="cart-card">
          <img src="/assets/Payment_icon1.svg" alt="">
          <img src="/assets/Payment_icon2.svg" alt="">
          <img src="/assets/Payment_icon3.svg" alt="">
          <img src="/assets/Payment_icon4.svg" alt="">
          <img src="/assets/Payment_icon5.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import i18n from '@vue-storefront/i18n'
import { isModuleRegistered } from '@vue-storefront/core/lib/modules'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'

import VueOfflineMixin from 'vue-offline/mixin'
import onEscapePress from '@vue-storefront/core/mixins/onEscapePress'
import InstantCheckout from 'src/modules/instant-checkout/components/InstantCheckout.vue'
import { registerModule } from '@vue-storefront/core/lib/modules'

import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
import ClearCartButton from 'theme/components/core/blocks/Microcart/ClearCartButton'
import ButtonFull from 'theme/components/theme/ButtonFull'
import ButtonOutline from 'theme/components/theme/ButtonOutline'
import Product from 'theme/components/core/blocks/Microcart/Product'
import EditMode from './EditMode'
import { InstantCheckoutModule } from 'src/modules/instant-checkout'

export default {
  components: {
    Product,
    ClearCartButton,
    ButtonFull,
    ButtonOutline,
    BaseInput,
    InstantCheckout
  },
  mixins: [
    VueOfflineMixin,
    EditMode,
    onEscapePress
  ],
  data () {
    return {
      addCouponPressed: false,
      couponCode: '',
      componentLoaded: false,
      isInstantCheckoutRegistered: isModuleRegistered('InstantCheckoutModule')
    }
  },
  props: {
    isCheckoutMode: {
      type: Boolean,
      required: false,
      default: () => false
    }
  },
  beforeCreate () {
    registerModule(InstantCheckoutModule)
  },
  mounted () {
    this.$nextTick(() => {
      this.componentLoaded = true
    })
  },
  computed: {
    ...mapGetters({
      productsInCart: 'cart/getCartItems',
      appliedCoupon: 'cart/getCoupon',
      totals: 'cart/getTotals',
      isOpen: 'cart/getIsMicroCartOpen'
    }),
    storeView () {
      return currentStoreView()
    }
  },
  methods: {
    ...mapActions({
      applyCoupon: 'cart/applyCoupon'
    }),
    addDiscountCoupon () {
      this.addCouponPressed = true
    },
    clearCoupon () {
      this.$store.dispatch('cart/removeCoupon')
      this.addCouponPressed = false
    },
    toggleMicrocart () {
      this.$store.dispatch('ui/toggleMicrocart')
    },
    async setCoupon () {
      const couponApplied = await this.applyCoupon(this.couponCode)
      this.addCouponPressed = false
      this.couponCode = ''
      if (!couponApplied) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'warning',
          message: i18n.t("You've entered an incorrect coupon code. Please try again."),
          action1: { label: i18n.t('OK') }
        })
      }
    },
    closeMicrocartExtend () {
      this.toggleMicrocart()
      this.$store.commit('ui/setSidebar', false)
      this.addCouponPressed = false
    },
    onEscapePress () {
      this.$store.dispatch('ui/closeMicrocart')
    },
    clearCart () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: i18n.t('Are you sure you would like to remove all the items from the shopping cart?'),
        action1: { label: i18n.t('Cancel'), action: 'close' },
        action2: { label: i18n.t('OK'),
          action: async () => {
            // We just need to clear cart on frontend and backend.
            // but cart token can be reused
            await this.$store.dispatch('cart/clear', { disconnect: false })
          }
        },
        hasNoTimeout: true
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import "~theme/css/animations/transitions";

.close {
  i {
    opacity: 0.6;
  }
  &:hover,
  &:focus {
    i {
      opacity: 1;
    }
  }
}

.mt0 {
  @media (max-width: 767px) {
    margin-top: 0;
  }
}

.clearcart {
  &-col {
    display: flex;
    align-self: center;
  }
}

.products {
  @media (max-width: 767px) {
    padding: 30px 15px;
  }
}

.actions {
  @media (max-width: 767px) {
    padding: 0 15px;
  }
  .link {
    @media (max-width: 767px) {
      display: flex;
      justify-content: center;
      padding: 20px 70px;
      &.checkout {
        margin-top: 55px;
        padding: 0;
      }
    }
  }
}

.summary {
  @media (max-width: 767px) {
    padding:  0 15px;
    font-size: 12px;
  }
}

.summary-heading {
  @media (max-width: 767px) {
    font-size: 18px;
  }
}

.total-price-label {
  @media (max-width: 767px) {
    font-size: 18px;
  }
}

.total-price-value {
  @media (max-width: 767px) {
    font-size: 24px;
  }
}

.delete-button {
  vertical-align: middle;
}

.coupon-wrapper {
  display: flex;

  .button-outline {
    text-transform: inherit;
    width: 50%;
  }

  .coupon-input {
    margin-right: 20px;
    width: 100%;
  }
}

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  height: 100%;
  background:rgba(0, 0, 0, 0.4);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .4s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-error: color(error);
$white: color(white);
$mine-shaft: color(mine-shaft);
$primary: color(primary);
$black: color(black);
$gray-666666: color(gray-666666);
$gray-E3E3E3: color(gray-E3E3E3);
$green-3C967B: color(green-3C967B);
$green-36B289: color(green-36B289);
$light-black: color(light-black);

.microcart {
  padding-top: 80px;
  min-height: 100%;
  .close {
    color:$black;
    position: absolute;
    right: 44px;
    top: 44px;
    i {
      opacity: 1;
      padding: 0;
      color: inherit;
    }
    &:hover{
      color: $primary;
    }
  }
  .cart-title {
    font-size: 40px;
    color: $mine-shaft;
    line-height: 40px;
    margin-bottom: 10px;
    @media only screen and (max-width: 767px) {
      font-size: 18px;
    }
  }
  hr {
    margin: 0;
    border: 0;
    border-top: 1px solid $gray-E3E3E3;
  }
  .summary {
    font-family: 'Aller', sans-serif;
    line-height: 20px;
    color: $gray-666666;
    font-size: 16px;
    .add-discount {
      font-family: 'Aller', sans-serif;
      line-height: 20px;
      color: $gray-666666;
      font-size: 16px;
      &:hover {
        color: $green-3C967B;
      }
    }
    .pull-right {
      float: right;
    }
    .grand-total {
      border-top: 1px solid $gray-E3E3E3;
      border-bottom: 1px solid $gray-E3E3E3;
      color:$black;
      font-weight: normal;
      font-size: 18px;
      margin: 0;
      .total-price-value {
        font-size: 24px;
      }
      .col-xs {
        padding: 0;
      }
    }
  }
  .return-shopping {
    display: inline-block;
    vertical-align: top;
    line-height: 17px;
    font-size: 18px;
    svg {
      vertical-align: top;
      margin-right: 20px;
    }
    &:hover {
      color: $green-3C967B;
    }
  }
  .checkout-button {
    a {
      background-color: $green-36B289;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      width: auto;
      min-width: auto;
      display: inline-block;
      min-width: 290px;
      vertical-align: top;
      &:hover {
        color: $white;
        background-color: $mine-shaft;
      }
    }
  }
  .cart-payments {
    padding-top: 38px;
    padding-bottom: 58px;
    align-items: center;
    .secure {
      padding-right: 0;
      p {
        display: flex;
        font-size: 12px;
        line-height: 14px;
        font-weight: bold;
        max-width: 162px;
        color: $light-black;
        img {
          margin-right: 10px;
        }
      }
    }
    .cart-card {
      img {
        margin-left: 17px;
        width: 70px;
        vertical-align: top;
      }
    }
  }
  @media only screen and (max-width: 767px) {
    padding-top: 42px;
    padding-bottom: 20px;
    .clearcart-col {
      justify-content: flex-end;
    }
    .close {
      right: 15px;
      top: 15px;
    }
    .products {
      padding-top: 0;
      padding-bottom: 0;
    }
    .summary {
      line-height: 15px;
      font-size: 14px;
      padding-top: 0;
      .grand-total {
        padding: 10px 0;
        line-height: 20px;
        margin-bottom: 20px;
        .total-price-label {
          font-size: 15px;
        }
        .total-price-value {
          font-size: 18px;
        }
      }
      .add-discount {
        font-size: 14px;
      }
    }
    .checkout-button {
      padding: 0 16px 0 0;
      order: 1;
      text-align: right;
      a {
        font-size: 12px;
        padding: 0;
        line-height: 40px;
        min-width: 125px;
        text-transform: none;
      }
    }
    .return-shopping {
      font-size: 14px;
      padding: 0;
      svg {
        margin-right: 8px;
        max-width: 12px;
      }
    }
    .coupon-wrapper {
      .button-outline {
        text-transform: inherit;
        width: 40%;
        height: auto;
        padding: 0 10px;
        font-size: 16px;
      }
    }
    .cart-payments {
      padding-top: 20px;
      padding-bottom: 0;
      .col-xs-12 {
        flex-basis: 100%;
        max-width: 100%;
      }
      .secure {
        padding-left: 0;
        p {
          margin: auto auto 20px;
        }
      }
      .cart-card {
        text-align: center;
        img {
          margin: 0 3px;
          width: 34px;
        }
      }
    }
  }
}
.right-sidebar {
  opacity: 0.5;
}
</style>
<style lang="scss">
@import '~theme/css/base/global_vars';
$z-index-notification: map-get($z-index, notification) + 2;
.default-layout {
  .notifications {
    z-index: $z-index-notification;
  }
  .right-sidebar {
   z-index: 1001;
    @media only screen and (max-width: 767px) {
      width: 364px;
      max-width: 95%;
      #couponinput {
        margin-bottom: 0;
        min-height: auto;
        input {
          font-size: 16px;
          padding: 0;
          height: 30px;
          margin-bottom: 0;
        }
        label.h6 {
          font-size: 14px;
        }
      }
    }
  }
}
</style>
