<template>
  <div class="login-modal">
    <header class="modal-header h1 serif">
      {{ $t('Log in') }}
      <i
        slot="close"
        class="modal-close material-icons cl-bg-tertiary"
        @click="close"
      >
        close
      </i>
    </header>
    <div v-if="hasRedirect" class="pt10 pb10 px65 redirect-error">
      <p class="h5 mb0 mt0">
        {{ $t('You need to be logged in to see this page') }}
      </p>
    </div>
    <div class="modal-content">
      <form @submit.prevent="login" novalidate>
        <label>{{ $t('Email Address*') }}</label>
        <base-input
          type="email"
          name="email"
          placeholder="Enter email address"
          v-model="email"
          @blur="$v.email.$touch()"
          :validations="[
            {
              condition: !$v.email.required && $v.email.$error,
              text: $t('Field is required.')
            },
            {
              condition: !$v.email.email && $v.email.$error,
              text: $t('Please provide valid e-mail address.')
            }
          ]"
        />

        <label>{{ $t('Password *') }}</label>
        <base-input
          type="password"
          name="password"
          v-model="password"
          placeholder="*********"
          @blur="$v.password.$touch()"
          :validations="[{
            condition: !$v.password.required && $v.password.$error,
            text: $t('Field is required.')
          }]"
        />
        <div class="row remember-wrap">
          <div class="col-xs-7 col-sm-6 mb10">
            <base-checkbox
              id="remember"
              v-model="remember"
            >
            {{ $t('Remember me') }}
            </base-checkbox>
            
          </div>
          <div class="col-xs-5 col-sm-6 flex end-xs">
            <a href="#" @click.prevent="remindPassword">
              {{ $t('Forgot the password?') }}
            </a>
          </div>
        </div>
        <button-full type="submit" data-testid="loginSubmit">
          {{ $t('Log in to your account') }}
        </button-full>
        <div class="center-xs register-link">
          {{ $t('or') }}
          <a href="#" @click.prevent="switchElem" data-testid="registerLink">
            {{ $t('register an account') }}
          </a>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import Login from '@vue-storefront/core/compatibility/components/blocks/Auth/Login'

import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import BaseCheckbox from '../Form/BaseCheckbox.vue'
import BaseInput from '../Form/BaseInput.vue'
import { required, email } from 'vuelidate/lib/validators'

export default {
  mixins: [Login],
  validations: {
    email: {
      required,
      email
    },
    password: {
      required
    }
  },
  data () {
    return {
      hasRedirect: !!localStorage.getItem('redirect')
    }
  },
  methods: {
    close (e) {
      if (e) localStorage.removeItem('redirect')
      this.$bus.$emit('modal-hide', 'modal-signup')
    },
    login () {
      if (this.$v.$invalid) {
        this.$v.$touch()
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: this.$t('Please fix the validation errors'),
          action1: { label: this.$t('OK') }
        })
        return
      }
      this.callLogin()
    },
    remindPassword () {
      if (!(typeof navigator !== 'undefined' && navigator.onLine)) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: this.$t('Reset password feature does not work while offline!'),
          action1: { label: this.$t('OK') }
        })
      } else {
        this.callForgotPassword()
      }
    },
    onSuccess () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        message: this.$t('You are logged in!'),
        action1: { label: this.$t('OK') }
      })
    },
    onFailure (result) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: this.$t(result.result),
        action1: { label: this.$t('OK') }
      })
    }
  },
  components: {
    ButtonFull,
    BaseCheckbox,
    BaseInput
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-error: color(error);
$white: color(white);
$color-secondary: color(secondary);
$black: color(black);
$mine-shaft: color(mine-shaft);
.modal-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-close{
  cursor: pointer;
}
.modal-content {
  @media (max-width: 400px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.redirect-error {
  background-color: $color-error;
  color: $white;
}




</style>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-error: color(error);
$white: color(white);
$color-secondary: color(secondary);
$black: color(black);
$mine-shaft: color(mine-shaft);
$gray-E5E5E5: color(gray-E5E5E5);
$silver: color(silver);
$gray-666666: color(gray-666666);
$light-black: color(light-black);
$secondary: color(secondary);
$light-gray: color(light-gray);
$gray: color(gray);

.modal {
  z-index: 9999 !important;
  .modal-container {
    border-radius: 10px;
    overflow: auto;
    width: 400px !important;
    background-color: $white;
        max-height: 96vh !important;
    @media only screen and (max-width: 767px) {
      background-color: $white;
      border-radius: 0;
      border: 0;
      display: -ms-flexbox;
      display: flex;
      width: 100% !important;
      transform: none !important;
      top: 0 !important;
      left: 0 !important;
      max-height: 100vh !important;
    }
    @media only screen and (max-width: 767px) and (orientation: landscape) {
      align-items: flex-start;
    }
  }
  .modal-close {
    color: #111;
    position: absolute;
    right: 12px;
    top: 12px;
    text-shadow: 0 0;
    transition: 0.5s;
    &:hover {
      color: $secondary;
    }
  }
}
.login-modal {
  padding: 40px;
  .h1 {
    color: $mine-shaft;
    margin-bottom: 40px;
    line-height: 57px;
  }
  label {
    color: $gray-666666;
    font-size: 16px;
    margin-bottom: 6px;
    display: inline-block;
    vertical-align: top;
  }
  .relative {
    input:not([type="checkbox"]) {
      height: 60px;
      border: 1px solid $silver;
      font-size: 16px;
      margin-bottom: 20px;
      padding: 0 20px;
      color: $mine-shaft;
      &::placeholder {
        opacity: 1;
        color: $gray-E5E5E5;
      }
    }
    label {
      display: none !important;
    }
    button.icon.material-icons {
      top: 18px;
      right: 18px;
      color: $light-gray;
    }
    .block.cl-error {
      margin-top: -15px;
      font-size: 14px;
      margin-bottom: 7px;
    }
    #remember + label {
      font-family: 'Aller', sans-serif;
      display: inline-block !important;
      vertical-align: top;
      position: relative;
      font-size: 12px;
      font-weight: normal;
      line-height: 15px;
      color: $gray;
      padding-left: 25px;
      &:before {
        width: 15px;
        height: 15px;
        top: 0;
        border-radius: 2px;
      }
    }
    input:checked + label {
      &:before {
        background-color: $mine-shaft;
        border-color: $mine-shaft;
      }
      &:after {
        top: 4px;
        border-color: #fff;
        background-color: transparent;
        left: 4px;
        width: 8px;
        height: 4px;
        border-width: 1px;
      }
    }
  }
  .remember-wrap {
    a {
      font-size: 12px;
      line-height: 15px;
      color: $gray;
      &:hover {
        color: $secondary;
      }
    }
  }
  button.block {
    padding: 0;
    line-height: 53px;
    border: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 18px;
    background-color: $secondary;
    &:hover {
      background-color: $mine-shaft;
    }
  }
  .register-link {
    font-size: 16px;
    color: $gray-666666;
    line-height: 20px;
    a{
      display: inline-block;
      vertical-align: top;
      color: $gray-666666;
      &:hover {
        color: $secondary;
      }
    }
  }
  @media only screen and (max-width: 767px) {
    padding: 26px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .modal-content {
      padding-left: 0 !important;
      padding-right: 0 !important;
      width: 100%;
      margin-bottom: auto;
    }
    .h1 {
      margin-top: auto;
      width: 100%;
      margin-bottom: 25px;
    }

  }
}
.login-modal.register-modal {
  @media only screen and (max-width: 767px) {
    height: 100%;
  }
}
</style>
