<template>
  <div class="qty-input" :class="'qty-input__' + size">
    <div class="flex middle-xs">
      <label class="qty-element-label" for="quantity" v-if="hasLabel">
        {{ $t('Quantity') }}:
      </label>
      <div class="qty-element flex" :class="{ 'ml-3' : hasLabel, 'box-w-h' : customWidth }">
        <button @click.prevent="decrementEvent" :aria-label="$t('Decrement')" role="button" :disabled="value === minInput">
          <svg width="8" height="1" viewBox="0 0 8 1" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 0.5L-5.96046e-08 0.499999" stroke="#333333" />
          </svg>
        </button>
        <input
          type="number"
          :min="minInput"
          :max="maxInput"
          :aria-label="ariaLabel"
          :id="getInputId"
          :name="name"
          :value="value"
          focus
          :ref="'qtyInput'"
          @input="inputEvent"
          @focus="$emit('focus')"
          @blur="$emit('blur', value)"
          onkeypress="return event.charCode >= 48 && event.charCode != 45"
          autocomplete="off"
        >
        <button @click.prevent="incrementEvent" :aria-label="$t('Increment')" role="button" :disabled="value >= maxInput">
          <svg width="8" height="9" viewBox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 0.5V8.5" stroke="#333333" />
            <path d="M8 4.5L-5.96046e-08 4.5" stroke="#333333" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'QuantityBox',
  props: {
    id: {
      type: String,
      default: 'quantity',
      required: false
    },
    name: {
      type: String,
      default: 'quantity',
      required: false
    },
    value: {
      type: [String, Number],
      default: 1,
      required: false
    },
    size: {
      type: String,
      default: 'md',
      required: false
    },
    hasLabel: {
      type: Boolean,
      default: true,
      required: false
    },
    customWidth: {
      type: [String, Number],
      default: 1,
      required: false
    },
    ariaLabel: {
      type: String,
      required: false,
      default: ''
    },
    stock: {
      type: Object,
      default: null,
      required: false
    }
  },
  data () {
    return {
      minInput: this.minInputValue(),
      maxInput: this.maxInputValue()
    }
  },
  methods: {
    inputEvent ($event) {
      let value = parseInt($event.target.value)
      if (value === (this.minInput - 1)) {
        this.$refs.qtyInput.value = this.minInput
        value = this.minInput
      }
      if (isNaN(value) || value === (this.minInput - 1)) {
        value = this.minInput
      }
      if (value >= this.maxInput) {
        this.$refs.qtyInput.value = this.maxInput
        value = this.maxInput
      }
      value = parseInt(value)
      this.$emit('input', value)
    },
    incrementEvent ($event) {
      let value = parseInt(this.value)
      if (isNaN(value) || value < (this.minInput - 1)) {
        value = this.minInput
      }
      if (value >= this.maxInput) {
        this.$refs.qtyInput.value = this.maxInput
        value = (this.maxInput - 1)
      }
      this.$emit('input', value + 1)
      this.$emit('blur', value + 1)
    },
    decrementEvent ($event) {
      let value = parseInt(this.value)
      if (isNaN(value) || value < (this.minInput - 1)) {
        value = this.minInput
      }
      this.$emit('input', value > 1 ? value - 1 : 1)
      this.$emit('blur', value > 1 ? value - 1 : 1)
    },
    maxInputValue () {
      if (this.$parent.$options.name === 'MicrocartProduct') {
        return this.stock && this.stock.qty ? this.stock.qty : 99
      } else {
        return this.$store.state.config.aureatelabs.qtyinput.max ? this.$store.state.config.aureatelabs.qtyinput.max : 99
      }
    },
    minInputValue () {
      if (this.$parent.$options.name === 'MicrocartProduct') {
        return 1
      } else {
        return this.$store.state.config.aureatelabs.qtyinput.min ? this.$store.state.config.aureatelabs.qtyinput.min : 1
      }
    }
  },
  computed: {
    getInputId () {
      return `input_${this._uid}`
    }
  }
}
</script>

<style lang="scss" scoped>
@import "~theme/css/variables/grid";
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-DDDDDD: color(gray-DDDDDD);
$gray-444444: color(gray-444444);

  %qty-input {
    @apply text-center py-2 px-2 text-sm text-black outline-none bg-white;
  }

  .qty-input {
    &__lg {
      input {
        @extend %qty-input;
        width: 40px;
      }
    }

    &__md {
      input {
        @extend %qty-input;
        width: 90px;
      }

      .input-number-controls button {
        width: 25px;
      }
    }

    &__sm {
      input {
        @extend %qty-input;
        width: 60px;
      }
      .input-number-controls button {
        width: 20px;
      }
    }
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .qty-element {
    border:1px solid $gray-DDDDDD;
    border-radius:6px;
    background-color: transparent;
    margin:0;
    display:flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    text-align: center;
    height: 45px;
    font-size: 14px;
    input {
      font-weight: 700;
      font-size: 14px;
      padding: 0;
      vertical-align: middle;
      background: transparent;
      border: none;
      text-align: center;
      outline: none;
      padding-top: 3px;
      height: calc(100% - 3px);
      color: $gray-444444;
      @screen max-xm {
        width: 50px;
      }
    }

    button {
      padding:3px 15px;
      cursor:pointer;
      border-radius:6px;
      line-height: 1;
      font-size: 0;
      border: 0;
      background-color: transparent;
      i {
        vertical-align: middle;
      }
    }
  }

  .qty-element-label {
    font-size: 12px;
    color: $gray-444444;
    font-weight: 700;
    margin-right: 10px;
  }
  .cart-section {
    .qty-element {
      padding: 2px 5px;
      input {
        width: 35px;
        font-weight: 400;
      }
    }
  }
  @screen max-xm {
    .max-xm\:hidden {
      display: none;
    }
  }
</style>
